.file-row {
  border-radius: 2px;
  font-size: 14px;
  color: #272822;
}

.file-row td {
  padding: 2px 0;
}

.file-name>a,
.file-actions>a {
  color: #1A1A1A;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.file-name>a:hover,
.file-actions>a:hover {
  color: #F92672;
}
